@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: "Poppins","sans-serif";
    justify-content: center;
    align-items: center;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
.input-container{
    position: absolute;
    top: 40%;
}

input{
    border: 1px solid;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 25px;
    outline: none;
    width: 290px;
}
button{
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

h1 {
    font-size: 15px;
    color: red;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    padding: 0.8rem;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* colors : https://www.eggradients.com/ 
            https://flatuicolors.com/   */